html,
body {
  background-color: white;
  color: #000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.ui-base {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  // max-width: max-content;
  height: 100%;
  display: grid;
  grid-template-areas: "mii tabList" "mii tabContent";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;

  @media screen and (max-width: 1100px) {
    & {
      grid-template-areas: "mii" "tabList" "tabContent";
      grid-template-columns: auto;
      grid-template-rows: 1fr auto auto;
    }
    .tab-list {
      gap: 0.5rem;
      .tab {
        padding: 8px;
        min-width: 64px;
        min-height: 64px;
        width: auto !important;
        height: auto !important;
      }
    }
    .tab-content {
      max-height: 30vmax;
    }
  }

  & {
    padding: 1rem;
    grid-gap: 1rem;

    --eye-color: #6c7070;
  }

  > div {
    border-radius: 8px;
    overflow: auto;
  }

  .mii-holder {
    grid-area: mii;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;

    canvas {
      width: 100%;
      height: 100%;
    }
  }
  .tab-list {
    display: flex;
    grid-area: tabList;
    background-color: #eee;
    .tab {
      display: flex;
      width: 48px;
      height: 48px;
      border-radius: 12px;
      &:hover {
        background-color: #ddd;
      }
    }
  }
  .tab-content {
    grid-area: tabContent;
    background-color: #ececec;

    .feature-set-group {
      padding: 8px;
      display: flex;
      flex-wrap: wrap;
      gap: 6px;
      .feature-item {
        width: 52px;
        height: 52px;
      }
    }
  }
}
